{% extends 'openings/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block body %}

{% if validlink %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 text-center">Set a new password!</h1>
            <hr class="mt-5 mb-4">
        </div>
    </div>
    <div class="row m-auto mt-2 col-md-6">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
    </div>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}
{% endblock %}