{% extends 'openings/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 text-center">Log In</h1>
            <hr class="mt-5 mb-4">
        </div>
    </div>
    <div class="d-flex flex-column">
        {% if form.errors %}
                    <p class="m-auto text-danger" >Your username and password didn't match, please try again.</p>
        {% endif %}
    </div>
<form method="POST" novalidate action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-4 m-auto mt-3">
            {{ form.username|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-auto mt-3">
            {{ form.password|as_crispy_field }}
        </div>
    </div>
    <div class="col-md-12 text-center mt-3">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>
</div>

<div class="d-flex flex-column">
    <a class="m-auto"href="{% url 'password_reset' %}">Forgot password?</a>
</div>

{% endblock %}