{% extends 'openings/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 text-center">Register</h1>
            <hr class="mt-5 mb-4">
        </div>
    </div>
    <div class="row m-auto mt-2 col-md-6">
    <form method='POST' novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="col-md-12 text-center mt-3">
            <button type="submit" class="btn btn-success">Sign up</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}